{% extends 'base.html.twig' %}

{% block main %}

    <div class = "row">
        <div class = "col-12">
            <div class = "search-for-destination"> <input type = "placehodler" class = "search-input" placeholder="Пребарувај дестинација"> <button>Пребарувај</button> </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-12">
            <div class = "last-added">
                <h5> Последно додадени </h5>
            </div>
        </div>
    </div>

    <div class = "row">
        {% for destination in latestdestinations %}
        <div class = "col-md-3">
            <div class = "destinations-box">
                <div class = "destination-map" style = "background-image:url('{{ destination.coverimagelocation }}')"></div>
                <div class = "destination-description">
                    <h5> {{ destination.slug }} </h5>
                    <p>{{ destination.shortContent|raw }}
                        <a href = "{{ path('destination',{'slug':destination.slug}) }}" > Прочитај повеќе </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}






    </div>

    <div class = "row">
        <div class = "col-12">
            <div class = "destinations">
                <h5> Дестинации </h5>
            </div>
        </div>
    </div>

    {% for destination in destinations %}
        <div class = "col-md-3">
            <div class = "destinations-box">
                <div class = "destination-map" style = "background-image:url('{{ destination.coverimagelocation }}')"></div>
                <div class = "destination-description">
                    <h5> {{ destination.slug }} </h5>
                    <p>{{ destination.shortContent|raw }}
                        <a href = "{{ path('destination',{'slug':destination.slug}) }}" > Прочитај повеќе </a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}